<!DOCTYPE html>
<html ng-app="ngApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular Models and Day 1 Review</title>
    <script src="./scripts/angular.js"></script>
  </head>
  <body>
    <h1>ngModel Examples</h1>
    <div ng-controller="ExampleCtrl">
      <h2>Inputs</h2>
      <p>
        <label for="txtStrInput">Textbox</label>
        <input type="text" ng-model="txtStr" name="txtStrInput" ng-change="txtChange()">
      </p>
      <p>
        <label for="boolValInput">Textbox</label>
        <input type="checkbox" ng-model="boolVal" name="boolValInput">

      </p>
      <p>
        <label for="dateValInput">Textbox</label>
        <input type="date" ng-model="dateVal" name="dateValInput">
      </p>
      <p>
        <label>Opt 1: <input type="radio" ng-model="radioVal" value="opt1"/></label>
        <label>Opt 2: <input type="radio" ng-model="radioVal" value="opt2"/></label>
        <label>Opt 3: <input type="radio" ng-model="radioVal" value="opt3"/></label>
      </p>
      <p>Our textStr is {{txtStr}}.</p>
      <p>Our boolVal is {{boolVal}}.</p>
      <p>Our dateVal is {{dateVal}}.</p>
      <p>Our radioVal is {{radioVal}}.</p>
    </div>
    <div class="siblingAndNestedControllers">
      <h2>Sibling Controllers</h2>
      <div ng-controller="Ctrl1">
        <p ng-bind="testVar"></p>
      </div>
      <div ng-controller="Ctrl2">
        <p ng-bind="testVar"></p>
      </div>
      <h2>Nested Controllers</h2>
      <div ng-controller="Ctrl1">
        <p ng-bind="testVar"></p>
        <div ng-controller="Ctrl2">
          <p ng-bind="testVar"></p>
            Comment out Ctrl2's $scope.testVar
        </div>
      </div>
    </div>
    <div class="controllerAs">
      <h2>Controller As (aka aliases)</h2>
      <div ng-controller="Ctrl1as as c1">
        <p ng-bind="c1.testVar"></p>
        <div ng-controller="Ctrl2as as c2">
          <p ng-bind="testVar"></p>
            Comment out Ctrl2's $scope.testVar
        </div>
      </div>
    </div>
    <script src="./scripts/app.js"></script>
  </body>
</html>
